{% extends 'custom_auth/base.html' %}

{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-6 mx-auto border rounded p-4">
            <h3 class="alert alert-light border rounded ">OTP Verify</h3>
            <form action="verify_otp_forgot_password" method="POST">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}

              <div class="form-group">
                <label for="OTP">OTP</label>
                <input type="text" class="form-control" id="OTP" placeholder="********" name="OTP" value="{{ otp }}">
              </div>

            <br/>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" placeholder="********" name="password" value="{{ password }}">
              </div>
            <br/>

              <input type="hidden"   name="email" value="{{email}}">

              <div class="form-group">
                <input type="submit" class="form-control btn-sm btn btn-info" id="sub" name="sub" value="Click to Verify ">
              </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}