{% extends 'store/base.html' %}

{% block content %}
    <div class="container">
        <h1 align="center">
            Total Address
        </h1>
           <table class="table" style="width:600px;margin:0 auto;">
                <thead>
                  <tr>
                    <th>Address</th>
                    <th>Delete</th>
                    <th>Edit</th>
                  </tr>
                </thead>

                <tbody>
                {% for i in add %}
                  <tr>
                    <td>{{i.address}}</td>
                    <td><a class="btn btn-danger" href="{% url 'delete' i.id%}" onclick="return confirm('Are you sure?')">Delete</a></td>
                    <td><a class="btn btn-danger" href="{% url 'edit_add' i.id%}" >Edit</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>


{% endblock %}